<%= form_for @to_do do |f| %>
  <% if @to_do.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% @to_do.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label>Title</label>
    <%= f.text_field :title, class: 'form-control', placeholder: 'title' %>
  </div>

  <%= f.submit class: 'btn btn-success' %>
<% end %>
