<div class="page-header">
  <h1><%= @to_do.title %>
    <small>
      <%= link_to edit_to_do_path(@to_do) do %>
        <span class="fa fa-pencil" aria-hidden="true"></span>
      <% end %>
    </small>
  </h1>
</div>

<%= link_to 'back', to_dos_path, class: 'btn btn-default' %>
